*{ margin:0px;

}
#main{
    border: 2px solid black;  
    margin-top: 10px;
    margin-bottom: 10px;

}
#canvas{
    border: 2px solid black;   
    width:70%;
    height:900px;
    margin:auto;

}
#form{
    border: 5px solid grey;
    width: 400px;
    height: 480px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
}

#dcanvas{
    border: 2px solid black;   
    width:70%;
    height:1050px;
    margin:auto;

}
#dform{
    border: 5px solid grey;
    width: 400px;
    height: 838px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
}